{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <a href="{{ path('app_article_new') }}" class="btn btn-default">Создать статью</a>
    {% for item in articles %}
        <article>
            <h2>{{ item.title }}</h2>
            <div class="article-content">
                {{ item.body }}
            </div>
            <div>
                Дата создания: {{ item.createdAt|date('d.m.Y H:i:s') }}
            </div>
        </article>
    {% endfor %}
</div>
{% endblock %}
